<!DOCTYPE html>
<html>
<head>
  <title>Buildit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
 <ul class="nav nav-tabs">

   <li role="presentation" class="active"><%= link_to 'Buildit', root_path %></li>
   <li role="presentation"><a href="#"><%=  'hot' %></a></li>
   <li role="presentation"><%= link_to 'New', new_article_path %></li>
   <li role="presentation"><a href="#"><%=  'rising' %></a></li>
   <li role="presentation"><a href="#"><%=  'controversial' %></a></li>
   <li role="presentation"><a href="#"><%=  'top' %></a></li>
   <li role="presentation"><a href="#"><%=  'gilded' %></a></li>
   <li role="presentation"><a href="#"><%=  'wiki' %></a></li>
   <li role="presentation"><a href="#"><%=  'promoted' %></a> </a></li>



 </ul>
</nav>

<div id="wrapper">

<%= yield %>

</div>
</body>
</html>
